<footer class="bg-dark shadow text-center text-lg-start">
    <div class="text-center p-3" >
        <p class="text-center text-light m-0 p-0">© Copyright 2021 Simplon</p>
    </div>
</footer>
<script type='javascript' src='/javascripts/bootstrap.min.js'></script>