<nav class="navbar navbar-dark bg-dark bg-light shadow">
      <a class="navbar-brand" href="/">Accueil</a>
      <a class="btn btn-sm btn-outline-secondary" role="button" href="/creationarticle">Ajout d'article</a>
</nav>