<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ajout Article</title>
        <%- include('partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('partials/navbar'); %>
        </header>
        <main>
            <h2>Ajouter un article :</h2>
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Auteur de l'article :</label>
                    <input type="text" class="form-control" id="author" placeholder="Nom de l'auteur">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titre de l'article :</label>
                    <input type="text" class="form-control" id="title" placeholder="Saisir le titre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">ARTICLE :</label>
                    <textarea class="form-control" id="text" rows="3" placeholder="Saisir le contenu de l'article"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Date de l'article :</label>
                    <input type="date" class="form-control" id="date" placeholder="Saisir la date">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Lien de l'image :</label>
                    <input type="text" class="form-control" id="thumbNail" placeholder="http://...">
                </div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Publier</button>
            </form>
        </main>
        <%- include('partials/footer'); %>
    </body>
</html>
