<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head'); %>
  </head>
  <body>
    <header>
        <%- include('partials/navbar'); %>
    </header>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <button type="button" class="btn btn-success">Success</button>
    </main>

    

      <%- include('partials/footer'); %>
  </body>
</html>
